wget==3.2
Werkzeug==0.15.5
urllib3==1.25.7
tqdm==4.39.0
spacy==2.2.3
scikit-image==0.16.2
scikit-learn==0.22
regex==2019.11.1
Flask==0.12.2
Flask-API==1.0
gunicorn==19.9.0
numpy==1.18.1
pyforest
pandas==0.25.3
h5py
#tensorflow==2.0.0
keras==2.3.1
   
